{
  "endOfLine": "auto",
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "importOrder": [
    "^react$",
    "^next",
    "<THIRD_PARTY_MODULES>",
    "@ui/(.*)$",
    "@modals/(.*)$",
    "@context/(.*)$",
    "@constants/(.*)$",
    "@stores/(.*)$",
    "@hooks/(.*)$",
    "@lib/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": ["cva", "cn"]
}
