@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-1-light-mode: rgba(246, 141, 196); /* pink-400 */
  --primary-2-light-mode: rgba(251, 219, 237); /* pink-100 */

  --primary-1-dark-mode: theme('colors.fuchsia.950');
  --primary-2-dark-mode: #5e455c;

  --primary-1: var(--primary-1-light-mode);
  --primary-2: var(--primary-2-light-mode);
  --primary-light: theme('colors.pink.50');

  --secondary-1: rgba(13, 22, 11);
  --secondary-2: rgba(13, 22, 11, 0.5);

  --accent: hsl(var(--nextui-warning));
  --accent-deep: rgba(92, 5, 97);
  --accent-deeper: rgba(74, 4, 78);
  --accent-disabled: rgba(55, 3, 58, 0.4);

  --cell-border: rgba(71, 58, 51, 0.4);
  --cell-border-value: rgba(71, 58, 51, 1);

  --blank: theme('colors.black');

  --absent: rgba(71, 58, 51, 0.9);
  --correct: rgba(3, 181, 77);
  --present: rgba(242, 198, 24);
  --incorrect: rgba(201, 36, 3);

  --correct-deep: theme('colors.green.600');
  --present-deep: rgba(212, 172, 12);

  --correct-deeper: theme('colors.green.700');
  --present-deeper: rgba(174, 141, 10);

  --key: rgba(151, 126, 114, 0.9);
  --key-deep: rgba(129, 106, 95);
  --key-deeper: rgba(106, 87, 78);
}

.dark {
  --primary-1: var(--primary-1-dark-mode);
  --primary-2: var(--primary-2-dark-mode);
  --primary-light: rgba(117, 87, 115);

  --secondary-1: rgba(254, 255, 234);
  --secondary-2: rgba(253, 255, 214, 0.5);

  --accent-deep: rgba(255, 51, 78);
  --accent-deeper: rgba(255, 31, 61);
  --accent-disabled: rgba(37, 31, 24, 0.7);

  --cell-border: rgba(169, 146, 125, 0.4);
  --cell-border-value: rgba(169, 146, 125);

  --blank: theme('colors.white');

  --absent: rgba(37, 31, 24, 0.9);
}

.high-contrast {
  --correct: theme('colors.orange.500');
  --present: theme('colors.cyan.500');

  --correct-deep: theme('colors.orange.600');
  --present-deep: theme('colors.cyan.600');

  --correct-deeper: theme('colors.orange.700');
  --present-deeper: theme('colors.cyan.700');
}

.react-datepicker__aria-live {
  display: none !important;
}

.shadowed {
  text-shadow: 1px 1px 1px #000000;
}

/* Date picker */

.react-datepicker {
  @apply h-72;
}

.react-datepicker__input-container input {
  @apply form-input block w-full rounded border border-gray-300 bg-white text-base shadow-sm md:text-sm;
}

.react-datepicker-popper {
  @apply z-40 w-72 rounded border-2 border-gray-200 bg-white px-3 py-2 text-sm shadow;
}

.react-datepicker-left {
  @apply absolute left-0 right-auto top-11 transform-none !important;
}

.react-datepicker-right {
  @apply absolute left-auto right-0 top-11 transform-none !important;
}

.react-datepicker__portal {
  @apply absolute right-0 top-12 z-10 w-72 transform-none rounded border-2 border-gray-200 bg-white px-3 py-2 text-sm shadow;
}

.react-datepicker__month-container {
  @apply flex flex-col;
}

.react-datepicker__month {
  @apply flex flex-col;
}

.react-datepicker__current-month {
  @apply ml-2.5 text-lg font-semibold text-gray-800 dark:text-gray-100;
}

.react-datepicker__week {
  @apply flex justify-around;
}

.react-datepicker__day-names {
  @apply flex justify-around text-center text-xs font-medium text-gray-500 dark:text-gray-400;
}

.react-datepicker__day-name {
  @apply flex h-8 w-8 items-center justify-center rounded-full py-1;
}

.react-datepicker__navigation {
  @apply absolute top-2;
}

.react-datepicker__navigation--previous {
  @apply right-12 flex h-8 w-8 items-center justify-center rounded transition hover:bg-gray-200;
}

.react-datepicker__navigation--next {
  @apply right-4 flex h-8 w-8 items-center justify-center rounded transition hover:bg-gray-200;
}

.react-datepicker__day {
  @apply mb-1 flex h-8 w-8 cursor-pointer items-center justify-center rounded py-1 text-sm leading-loose text-gray-700 transition dark:text-gray-200;
}

.react-datepicker__day--disabled {
  @apply cursor-not-allowed opacity-40 hover:bg-transparent;
}

.react-datepicker__day--outside-month {
  @apply text-gray-300 dark:text-gray-500;
}

.react-datepicker__day--in-range {
  @apply bg-gray-200;
}

.react-datepicker__day--in-selecting-range {
  @apply bg-indigo-200;
}

.react-datepicker__day--selecting-range-start {
  border-color: var(--accent);
  @apply border-2 bg-white;
}

.react-datepicker__day--selecting-range-end {
  border-color: var(--accent);
  @apply border-2 bg-white;
}

.react-datepicker__day--selected {
  background-color: var(--accent);
  @apply text-white dark:text-white;
}

.react-datepicker__day--range-start {
  background-color: var(--accent);
  @apply text-white hover:bg-white hover:text-gray-700;
}

.react-datepicker__day--range-end {
  background-color: var(--accent);
  @apply text-white hover:bg-white hover:text-gray-700;
}
